@page "/addNewsfeed"
@inject ISnackbar Snackbar
@inject GoogleDriveServices GoogleDriveServices
@if (Program.Teacher != null)
{
    <h3>Thêm thông báo</h3>

    <MudGrid Class="mt-4">
        <MudTextField Label="Tiêu đề" @bind-Value="@newsFeed.Title" Variant="Variant.Text"></MudTextField>
    </MudGrid>
    <MudGrid Class="mt-4">
        <MudTextField T="string" Label="Nội dung" Variant="Variant.Text" @bind-Value="newsFeed.Content" Lines="5" />
    </MudGrid>
    <MudGrid>
        <MudItem xs="10">
            <DriveUpload Id="@newsFeed.Id" @ref="_driveUpload" Classify="UploadClassify.CustomerData"></DriveUpload>
        </MudItem>
        <MudItem xs="2" Class="d-flex flex-row-reverse">
            <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary" OnClick="HandleSubmit">Gửi</MudButton>
        </MudItem>
    </MudGrid>
}
else
{
    <p>Không thể truy cập!</p>
}



@code {
    NewsFeed newsFeed = new NewsFeed();
    IList<IBrowserFile> files = new List<IBrowserFile>();
    DriveUpload _driveUpload;
    private void UploadFiles(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles())
        {
            files.Add(file);
        }
        //TODO upload the files to the server
    }
    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
    private async void OnValidSubmit()
    {

        await API<NewsFeed>.Instance.PostAsync("/api/NewsFeed", newsFeed);
        Snackbar.Add("Thêm thành công");
    }
    public async Task HandleSubmit()
    {
        if (_driveUpload.IsUpload)
        {
            newsFeed.Image = "";
            await _driveUpload.UploadAsync();
            if (_driveUpload.IsUploadComplete) // check upload error: true when upload success; false when upload failed
            {
                foreach (var item in _driveUpload.ResultPath)
                {
                    newsFeed.Image += item + "|";
                }
            }
            else
                return;
        } 
        newsFeed.CreateAt = DateTime.Now;


        newsFeed = await API<NewsFeed>.Instance.PostAsync("/api/newsfeed", newsFeed);

        newsFeed = new NewsFeed();
        Snackbar.Add("Lưu thành công");
    }
}

