@page "/"
<h3>Bảng tin</h3>
@if (!IsLoading)
{
   <MudProgressLinear Color = "Color.Primary" Indeterminate = "true" Class = "my-7" />
    <MudProgressLinear Color = "Color.Secondary" Indeterminate = "true" Class = "my-7" />
}
else
{
    foreach (var item in newsFeeds)
    {
        <ItemNewsFeed Data="item"></ItemNewsFeed>
       
    }
}


@code {
    List<NewsFeed> newsFeeds = new List<NewsFeed>();
    bool IsLoading = false;
    protected override async Task OnInitializedAsync()
    {
        newsFeeds = await API<List<NewsFeed>>.Instance.GetAsync("api/newsfeed");
        IsLoading = true;
    }

}
