@page "/"
@using System.Globalization

<p>cccc</p>

@code
{
    protected override Task OnInitializedAsync()
    {
        string date = "25112021";
        DateTime dt = DateTime.ParseExact("24012013", "ddMMyyyy", CultureInfo.InvariantCulture);
        return base.OnInitializedAsync();
    }
}
