@page "/"
@inject NavigationManager Navigation
@using System.Globalization

<h3>Tuổi trẻ trường THPT Pleiku với các hoạt động, phong trào Chào mừng kỉ niệm lần thứ 39 ngày Nhà giáo Việt Nam (20/11/1982 – 20/11/2021)</h3>
<MudCardMedia Image="http://thptpleiku.gialai.edu.vn/upload/20382/fck/files/image(163).png"></MudCardMedia>
<p>
    Năm học 2021 – 2022 diễn ra trong bối cảnh dịch bệnh Covid-19 trên địa bàn tỉnh Gia Lai có nhiều diễn biến phức tạp. Điều này đặt ra nhiều khó khăn, thách thức cho công tác dạy, học và các hoạt động phong trào.

    Trường THPT Pleiku cũng như các trường học khác trên địa bàn thành phố Pleiku đã và đang triển khai dạy và học trực tuyến để đảm bảo an toàn trong công tác phòng chống dịch. Điều này cũng đã ảnh hưởng không nhỏ đến kế hoạch hoạt động các phong trào của Đoàn TNCS Hồ Chí Minh Trường THPT Pleiku, tuy nhiên phát huy tinh thần xung kích không ngại khó của tuổi trẻ, Đoàn trường THPT Pleiku đã có sự phối hợp, linh hoạt, đổi mới nhằm khắc phục khó khăn; triển khai có hiệu quả kế hoạch đề ra một cách linh động, phù hợp với tình hình thực tế.

    Đặc biệt, trong tháng 11, nhằm Tri ân thầy cô giáo chào mừng kỉ niệm lần thứ 39 ngày Nhà giáo Việt Nam ( 20/11/1982 – 20/11/2021), Đoàn trường THPT Pleiku đã triển khai nhiều hoạt động thiết thực, ý nghĩa. Trong đó triển khai nhiều kế hoạch hoạt động, tiêu biểu như: Phong trào “Dạy tốt, học tốt”; Tổ chức Cuộc thi viết bài “Màu thời gian” trên trang fanpage của từng Chi đoàn; Đoàn trường phối hợp với Nhà trường và CLB VHNT xây dựng Chương trình văn nghệ mini trực tuyến với chủ đề “Giai điệu tri ân”; Tổ chức Bồi dưỡng và phát triển đoàn viên đợt I theo hình thức trực tuyến cho hơn 300 học sinh; Triển khai cho các chi đoàn đăng ký tham gia nộp “Ý tưởng sáng tạo” và làm các clip về “Gương tốt, việc tốt”…
</p>

@code
{
    protected override Task OnInitializedAsync()
    {
       
        string date = "25112021";
        DateTime dt = DateTime.ParseExact("24012013", "ddMMyyyy", CultureInfo.InvariantCulture);
        return base.OnInitializedAsync();
    }
}
